<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <connectionStrings>
            <!-- add connection strings here? but where to learn, todo -->
        </connectionStrings>
    </connectionStrings>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
